#container{ 
    overflow: scroll;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 5px solid #666;
    background: #ADADAD;
}

body{
    background: #14a914;
    font-family: Arial, serif;
}

#header{
	font-size: 48px;
}

.italic{
    font-style: italic;
    font-family: Arial;
}

#footer{
	padding: 30px;
}

h3{
	font-size: 28px
}

h4{
	font-size: 28px;
}

.week1{
    width: 20%;
    margin: auto;
    padding: 5px;
    border: 2px solid #666;
    background: #fff000;
    display: inline-block;
    line-height: 30px;
}

.week2{
    width: 20%;
    margin: auto;
    padding: 5px;
    border: 2px solid #666;
    background: #fff000;
    display: inline-block;
    line-height: 30px;
}

.week3{
    width: 20%;
    margin: auto;
    padding: 5px;
    border: 2px solid #666;
    background: #fff000;
    display: inline-block;
    line-height: 30px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}